
@import 'colors';
@import 'variables';

@mixin container{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

@mixin headerLi{
  display: inline-block;
  list-style: $liStyle;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.container{
  @include container;



    &:after{
    clear: both;
    display: table;
    content: '';
    }
  }

  header{
    height: 95px;
    background-color: $headerColor;
    padding: 10px;


    //Upeer header
    .ul-upper-header{
      height: 22px;
      width: 481px;
      float: $float-r;
      margin-top:-35px;

      li{
        @include headerLi;
        padding-right: $liPaddingRight;



        i{
          color: $customLightBlue;
          margin-right: $iconsMarginRight;
          }



        a{
          text-decoration: none;
          color: $grey;

          &:hover{
            color: #fff;
            text-decoration: underline;
          }
        }


      }

      select{
        vertical-align: top;

        margin-left: 445px;
        margin-top: -19px;
      }
    }
    //end upper header

    //Lower header
    .lower-header{
      height: 50px;
      margin-top: 35px;



      & img{
        width:90px;
        padding-right: 5px;
      }


      li{
        @include headerLi;
        color: #fff;
        padding: 15px 25px;
        cursor: $cursPointer;

        &:hover{
          background-color: #fff;
          color: #000;
        }

        i{
          color: $grey;
          font-size: 8px;
        }


      }


    }
    //end lower header
  }

  // jumbotron
  #jumbotron{

    height: 500px;
    background-image: url($jumbotronBg);


    .container{



      .row{
        width: 80%;
        height: 700px;
        // background-color: red;
        margin-left: 400px;
        display: &$dispFlex;
        justify-content: space-between;
        padding-top: 15px;

        .features{
          width: 400px;
          margin-left: 31px;
          margin-top: 24px;

          .jumbo-title{
            font-size: 210%;

            em{
              color:$fuxia;
            }
          }

          >span:nth-child(3){
            font-size: 150%;
          }

          ul{
            margin-top: 20px;
            font-size: 140%;

            li{
              list-style:$liStyle;

              i{
                color: $grey;
                margin-right: 5px;
                font-size: 12px;
                margin-bottom: 15px;
              }
            }
          }

          .download-button{
            width: 250px;
            border: 2px solid #000;
            margin-top: 20px;
            padding: 5px 15px;
            position: relative;

            a{
              text-decoration: $hrefTextDecoration;
              color: #000;


              >i{
                position: absolute;
                right: 15px;
                font-size: 25px;
                bottom: 10px;
              }
            }
          }


        }

      }
    }
}
  //End jumbotron
