$liStyle:none;
$hrefTextDecoration:none;
$float-r: right;
$liPaddingRight:40px;
$iconsMarginRight:5px;
$cursPointer:pointer;
$dispFlex:flex;
$jumbotronBg:'../img/hero-pe-8.jpg';
$fuxia:#B936B9;
