$liStyle:none;
$hrefTextDecoration:none;
$float-r: right;
$float-l:left;
$liPaddingRight:40px;
$iconsMarginRight:5px;
$cursPointer:pointer;
$dispFlex:flex;
$jumbotronBg:'../img/hero-pe-8.jpg';
$digitArtBg:'../img/intro-bg.jpg';
$flowIconsBg: '../img/flow-icons-bg.png';
$fuxia:#B936B9;
$customBlack:#191919;
$radius50:50%;
$fuxiaPlay:#DC79C9;
